<!-- About Start -->
<div class="about" id="about">
    <div class="content-inner">
        <div class="content-header">
            <h2>About Me</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <img src="static/resume/img/about.jpg" alt="Image">
            </div>
            <div class="col-md-6 col-lg-7">
                <p>
                    I'm a high performing and experienced Manager and Product Engineer with 10+ years evidence of
                    delivering exceptional returns in globally recognized organizations.<br> As well I'm a Junior
                    Paython Developer, Web Developer and Full Stack Developer.<br>
                    I'm passionate about programing,digital transfromation, software engineering, solving business
                    challenges and leading people.
                </p>
                <a class="btn" href="#">Hire Me</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="skills">
                    <h3>Coding Skills</h3>
                    <div class="skill-name">
                        <p>Python</p>
                        <p>55%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Django</p>
                        <p>55%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Flask</p>
                        <p>50%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>HTML5</p>
                        <p>70%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>CSS3</p>
                        <p>70%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>BOOTSTRAP</p>
                        <p>60%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skills">
                    <h3>Tools & Technologies </h3>
                    <div class="skill-name">
                        <p>Microsoft Power BI</p>
                        <p>80%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Microsoft Teams</p>
                        <p>85%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Cisco Finesse & CUIC</p>
                        <p>75%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Service Now</p>
                        <p>80%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Office 365</p>
                        <p>75%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>PyCharm & Visual Studio</p>
                        <p>70%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="skills">
                    <h3>Industry Knowledge </h3>
                    <div class="skill-name">
                        <p>ITIL V3 & V4</p>
                        <p>90%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Incident Management</p>
                        <p>90%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Problem Mangement</p>
                        <p>80%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Project Managment</p>
                        <p>60%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Workforce Managment</p>
                        <p>65%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Business Process Improvment</p>
                        <p>65%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="skills">
                    <h3>Interpersonal Skills</h3>
                    <div class="skill-name">
                        <p>People Management</p>
                        <p>85%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Customer Support</p>
                        <p>95%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Leadership</p>
                        <p>80%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Decision-Making</p>
                        <p>75%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Supervisory Skills</p>
                        <p>80%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="skills">
                    <h3>Langauges Skills</h3>
                    <div class="skill-name">
                        <p>French</p>
                        <p>95%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>English</p>
                        <p>85%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>German</p>
                        <p>55%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Swahili</p>
                        <p>95%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <div class="skills">
                    <h3>Langauges Skills</h3>
                    <div class="skill-name">
                        <p>Polish</p>
                        <p>65%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Ukrainian</p>
                        <p>75%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Russian</p>
                        <p>50%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->