<!-- Education Start -->
<div class="education" id="education">
    <div class="content-inner">
        <div class="content-header">
            <h2>Education</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="edu-col">
                    <span>01-Feb-2016 <i>to</i> 12-July-2017</span>
                    <h3>Master Degree</h3>
                    <h4>Poznań, Poland</h4>
                    <p>Product Engineering at <a class="uni-link" href="https://www.put.poznan.pl/en">Poznań University
                            of Technology</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <span>05-Sep-2011 <i>to</i> 09-Jul-2015</span>
                    <h3>Bachelor Degree</h3>
                    <h4>Lviv, Ukraine</h4>
                    <p>Mechanical Engineering at <a classe="uni-link" href="https://lpnu.ua/en">Lviv Polytechnic
                            National University.</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <span>03-Sep-2003 <i>to</i> 02-Jul-2010</span>
                    <h3>Associate Degree</h3>
                    <h4>Likasi, DRC</h4>
                    <p>General Mechanic at IT-SNCC-LIKASI .</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <span>01-Jan-2020 <i>to</i> 31-Dec-2050</span>
                    <h3>High School</h3>
                    <h4>Kolwezi, DRC</h4>
                    <p>Primary and High School at UKWELI.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Education End -->