<!-- Experience Start -->
                <div class="experience" id="experience">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Experience</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="exp-col">
                                    <span>01-May-2018 <i>to</i> Present</span>
                                    <h3>BBRaun</h3>
                                    <h4>Nowy Tomysl, Poland</h4>
                                    <h5>IT Service Desk Manager</h5>
                                    <p>Responsible for the operation of the Service Desk in EMEA.<br> Setup and manage a team of Service Desk Agents, provide a competent, service-oriented Service Desk to BBraun users as a SPOC for all IT issues and problems.<br>Monitor the effectiveness of the team against SLA/KPI's.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="exp-col">
                                    <span>01-Aug-2020 <i>to</i> Present</span>
                                    <h3>Freelance</h3>
                                    <h4>Worldwide</h4>
                                    <h5>Junior Python Developer & Web Developer</h5>
                                    <p>Implementing Python-based applications & solutions.</p>
                                    <p>Writing effective and scalable Python codes.</p>
                                    <p>Debugging applications to ensure low-latency and high-availability.</p>
                                    <p>Developing Web Applications by using python frameworks Dajngo & Flask. </p>
                                    <p>Accommodating various data storage solutions.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="exp-col">
                                    <span>02-May-2016 <i>to</i> 30-Apr-2018</span>
                                    <h3>ATOS</h3>
                                    <h4>Bydgoszcz, Poland</h4>
                                    <h5>2<sup>nd</sup> Line Support Engineer</h5>
                                    <p>Managing and delivering support and project services to multiple customers.<br>Work with the IT Manager and wider support team to ensure any recurring technical issues are addressed and any training or documentation requirements are identified and implemented.
                                    <br>Continuously improve knowledge and understanding across the various software and hardware technologies supported by the team.<br>Maintain a strong customer focus at all times.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="exp-col">
                                    <span>01-Jul-2016 <i>to</i> 31-Jul-2016</span>
                                    <h3>Infosys</h3>
                                    <h4>Lodz, Poland</h4>
                                    <h5>Senior Process Executive P2P Accounting</h5>
                                    <p>Overlook P2P process including but not limited to ERP supplier managment.<br> Prepare necessary month end reports.<br>Resolving mismatches between payable invoices versus materials recived.
                                    <br>Resolving issues concerning past due payments.<br>Maintain vendor files and documents.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experience End -->