<!-- Service Start -->
                <div class="service" id="service">
                    <div class="content-inner">
                        <div class="content-header">
                            <h2>Service</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="srv-col">
                                    <i class="fas fa-laptop-code"></i>
                                    <h3>Python Developer</h3>
                                    <p>Developing Python Backend Apps that assures smooth perfromance to the end-users.<br>Perfromning Python migrations salutions by migrating your current website or web app to Python.<br>Developing desktop applications with Python.<br>Python Web Development.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="srv-col">
                                    <i class="fa fa-laptop"></i>
                                    <h3>Web Development</h3>
                                    <p>Creating a website from scratch, including requirements gathering, design, implementation, quality assurance as well as maintenance and support.<br>Managing Web security and deploy web security solutions.<br>Developing Web App with Django & Flask.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="srv-col">
                                    <i class="fas fa-chart-line"></i>
                                    <h3>Power BI developer</h3>
                                    <p>Analyzing data and present data through reports that aid decision-making.<br>Create relationships between data and develop tabular and other multidimensional data models.<br>Design, develop and deploy business intelligence solutions as per needs.<br>Design, develop, test, and deploy Power BI scripts and perform detailed analytics.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="srv-col">
                                    <i class="fas fa-user-tie"></i>
                                    <h3>Service Delivery</h3>
                                    <p>Establish and refine devilvery processes.<br>Leading a service delivery team and ensuring the team's processes and taks are carried out efficiently.<br>Honing and leading improvement team for the delivery infrastructure.<br>Identifying customer needs and overseeing service delivery within the business context. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Service Start -->