<!-- About Start -->
<div class="about" id="about">
    <div class="content-inner">
        <div class="content-header">
            <h2>About Me</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
            {% for about in aboutme %}
                <img src="{{about.image_about.url}}" alt="Image">
                {% endfor %}
            </div>
            <div class="col-md-6 col-lg-7">
                <p>
                    {{about.about_me| linebreaks}}
                </p>
                <a class="btn" href="#">Hire Me</a>
            </div>
        </div>
        <div class="row">
            {% for skill in skills %}
            <div class="col-md-6">
            
                <div class="skills">
                    {% ifchanged  %}
                    <h3>{{skill.area_of_work}} </h3>
                    {% endifchanged %}
                    
                    <div class="skill-name">
                    
                        <p>{{skill.skill_branch}}</p>
                        <p>{{skill.skill_level}}%</p>
                        
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.skill_level}}" aria-valuemin="0"
                            aria-valuemax="100">
                            </div>
                    </div>

                </div>
            </div>
                {% endfor %}
        </div>
    </div>
</div>
<!-- About End -->