{% extends 'base.html' %}

{% block title %} {% for about in aboutme  %} {{about.first_name}} {{about.last_name}}{% endfor %}{% endblock %}

{% block content %}

<div class="wrapper">
    {% include "resume/sidebar.html" %}
    {% for about in aboutme  %}
    <div class="content">
        <!-- Header Start -->
        {% include "resume/header.html" %}
        <!-- Header Start -->

        <!-- Large Button Start -->
        <div class="large-btn">
            <div class="content-inner">
                <a class="btn" href="#"><i class="fa fa-download"></i>Resume</a>
                <a class="btn" href="#contact"><i class="fa fa-hands-helping"></i>Hire Me</a>
            </div>
        </div>
        <!-- Large Button End -->

        <!-- About Start -->
        {% include "resume/about.html" %}

        <!-- About End -->
        {% endfor %}
        <!-- Education Start -->
        {% include "resume/education.html" %}
        <!-- Education End -->

        <!-- Experience Start -->
        {% include "resume/experience.html" %}
        <!-- Experience End -->

        <!-- Service Start -->
        {% include "resume/service.html" %}
        <!-- Service End -->
        <!-- Portfolio Start -->
        {% include "resume/portfolio.html" %}
        <!-- Portfolio End -->

        <!-- Review Start -->
        <!-- Review End -->

        <!-- Contact Start -->
        {% include "resume/contact.html" %}
        <!-- Contact End -->

        <!-- Footer Start -->
        <div class="footer">
            <div class="content-inner">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <p>&copy; Copyright 2021. Raphael Mulenda</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer Start -->
    </div>
</div>

<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="static/resume/lib/easing/easing.min.js"></script>
<script src="static/resume/lib/slick/slick.min.js"></script>
<script src="static/resume/lib/typed/typed.min.js"></script>
<script src="static/resume/lib/waypoints/waypoints.min.js"></script>
<script src="static/resume/lib/isotope/isotope.pkgd.min.js"></script>
<script src="static/resume/lib/lightbox/js/lightbox.min.js"></script>

<!-- Template Javascript -->
<script src="static/resume/js/main.js"></script>

{% endblock content %}